<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <a href="#">Create CPU</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CPU Id</th>
            <th>Name</th>
            <th>Core Count</th>
            <th>Thread Count</th>
            <th>L3 Cache</th>
            <th>Max Frequency</th>
            <th>Base Frequency</th>
            <th>TDP</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cpu of cpus">
            <td>{{cpu.CPUId}}</td>
            <td>{{cpu.Name}}</td>
            <td>{{cpu.CoreCount}}</td>
            <td>{{cpu.ThreadCount}}</td>
            <td>{{cpu.L3Cache}}</td>
            <td>{{cpu.MaxFrequency}}</td>
            <td>{{cpu.BaseFrequency}}</td>
            <td>{{cpu.TDP}}</td>
            <td><button type="button" id="details" class="btn btn-default">Details</button></td>
            <td><button type="button" id="update" class="btn btn-success">Update</button></td>
            <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
